.App {
  text-align: center;

}
html{
  animation: background 8500ms infinite;
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(rgba(47, 57, 197, 0.219), rgba(0, 0, 0, 0), black);
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes background {
  0% {
    background-color: purple;    
  }  
  50% {
    background-color: rgb(83, 28, 83);    
  }  
  100% {
    background-color: purple;    
  }  
}
@keyframes appContainerGlow{
  0% {box-shadow: 0 0 14px rgba(255, 217, 0, 0.5);}
  50% { box-shadow: 0 0 14px gold}
  100% {box-shadow: 0 0 14px rgba(255, 217, 0, 0.5);}
}
@keyframes hover{
  0% {margin-bottom:0}
  25% {margin-bottom:0}
  50% {margin-bottom:3px}
  75% {margin-bottom:0}
  100% {margin-bottom:0}
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.appContainer{
  border-radius: 5px;
  border: 1px solid black;
  height: 300px;
  width: 600px;
  margin-left: calc(50vw - 300px);
  margin-top: 300px;
  background-color: rgb(43, 41, 49);  
  background-image: linear-gradient(rgb(68, 65, 77), rgb(45, 42, 49));
  animation: appContainerGlow 4000ms infinite;
  transition: 500ms;
  text-align: center;
  padding-top: 60px;
  padding-left: 10px;
  box-sizing: border-box;
  position: relative;
}
.button{
  background-image: linear-gradient(gold, rgb(204, 173, 0));
  box-shadow: 0 0 10px rgb(22, 20, 32);
  border-radius: 5px;
  height: 40px;
  width: 100px;
  transition: 1000ms;
  line-height: 40px;
  font-weight: bold;
  user-select: none;  
}
.button:hover{
  box-shadow: 0 0 10px gold;
}
.buttonBig{
  height: 60px;
  width: 150px;
  line-height: 60px;
  font-size: 20px;
  display: inline-block;
  margin-top: 60px;
}
.wordDisplay{
  font-size: 30px;
  color: white;
  font-weight: bold;
}
.inputBox{
  height: 30px;
  width: 80%;
  border-radius: 3px;
  padding-left: 5px;  
  background-color: gray;
  outline: none;
  border: none;
}
.messageDisplay{
  width: 100%;
  position: absolute;
  bottom: 15px;
  text-align: center;
  color: white;
  font-size: 12px;  
  user-select: none;
}
.infoButton{
  height: 15px;
  width: 15px;
  line-height: 16px;
  border-radius: 10px;
  position: relative;
  background-color: rgb(73, 73, 85);
  cursor: pointer;
  color: rgb(138, 141, 175);
  
  float: left;
  margin: 2px;
  z-index: 2;
}
.infoButtonDisplay{    
  background-color: gray;
  color: white;
  border-radius: 3px;
  border: 1px solid black;
  display: none;
  position: absolute;   
  bottom: 10px;
  left: 0px;    
  padding: 4px;
  max-height: 400px;
  max-width: 320px;  
  overflow-y: auto;
  direction: rtl;
}
.width300{
  width: 300px;
}
.infoButton:hover .infoButtonDisplay{
  
  display: inline-block; 
}
.circleButtonHolder{
  height: 20px;
  width: 100px;
  position: absolute;
  bottom: 10px;
  left: 10px;  
}
.randomStuffWindow{
  height: 600px;
  width: 1200px;
  background-color: gray;
  border-radius: 5px;
  position: fixed;
  top: 40px;
  left:calc(50vw - 600px);
  z-index: 4;
  text-align: center;
}
.closeButton{
  height: 20px;
  width: 20px;
  background-color: rgb(255, 187, 187);
  color: white;
}
.closeButton:hover{
  background-color: rgb(255, 143, 143);
}